
<h3 style="margin-top: 50px">Habilidades Duras</h3>
<div class="row">
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:50; margin-top: 50px; margin-left: 50px">
        </div>
    Python</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:70; margin-top: 50px; margin-left: 50px">
        </div>
    Autocad</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:80; margin-top: 50px; margin-left: 50px">
        </div>
    Inglés</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:100; margin-top: 50px; margin-left: 50px">
        </div>
    Ingeniería Electrónica</div>
  </div>
  <hr>
  <h3 style="margin-top: 50px">Habilidades Blandas</h3>
<div class="row">
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:90; margin-top: 50px; margin-left: 50px">
        </div>
    Comunicación</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:80; margin-top: 50px; margin-left: 50px">
        </div>
    Trabajo en Equipo</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:90; margin-top: 50px; margin-left: 50px">
        </div>
    Empatía</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:100; margin-top: 50px; margin-left: 50px">
        </div>
    Capacidad para Resolver Problemas</div>
  </div>