
<!--tabla dividida en cuatro columnas y dos filas para mostrar los relojes porcentuales-->
<h3 style="margin-top: 50px">Habilidades Duras</h3>
<div class="row">
    <div class="column">
        <!--El rol de Barra de progreso (progressbar role) define un elemento que muestra el estado de progreso
        para tareas que toman un tiempo largo-->
        <!--Se puede setear aria-valuemin y aria value-max para indicar el máximo y mínimo del indicador de progreso-->
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:50; margin-top: 50px; margin-left: 50px">
            <!-- --value define hasta donde avanza la barra de progreso-->
        </div>
    Python</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:70; margin-top: 50px; margin-left: 50px">
        </div>
    Autocad</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:80; margin-top: 50px; margin-left: 50px">
        </div>
    Inglés</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:95; margin-top: 50px; margin-left: 50px">
        </div>
    Seguridad Electrónica</div>
  </div>
  <hr>
  <h3 style="margin-top: 50px">Habilidades Blandas</h3>
<div class="row">
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:80; margin-top: 50px; margin-left: 50px">
        </div>
    Comunicación</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:80; margin-top: 50px; margin-left: 50px">
        </div>
    Trabajo en Equipo</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:90; margin-top: 50px; margin-left: 50px">
        </div>
    Empatía</div>
    <div class="column">
        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" 
            style="--value:90; margin-top: 50px; margin-left: 50px">
        </div>
    Capacidad para Resolver Problemas</div>
  </div>