<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
        <a routerLink="header" routerLinkActive="active" class="nav-link" >Home</a>
    </li>
    <li class = "nav-item">
        <a routerLink="explist" routerLinkActive="active" class="nav-link" >Experiencia</a>
    </li>
    <li class = "nav-item">
        <a routerLink="edulist" routerLinkActive="active" class="nav-link" >Educación</a>
    </li>
    <li class = "nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link" >Habilidades</a>
    </li>
    <li class = "nav-item">
        <a routerLink="userlist" routerLinkActive="active" class="nav-link" >Lista de Usuarios</a>
    </li>
    <li class = "nav-item">
        <a routerLink="createuser" routerLinkActive="active" class="nav-link" >Create User</a>
    </li>
    <li class = "nav-item">
        <a routerLink="createexp" routerLinkActive="active" class="nav-link" >Crear Experiencia</a>
    </li>
    <li class = "nav-item">
        <a routerLink="createedu" routerLinkActive="active" class="nav-link" >Crear Educacion</a>
    </li>
  </ul>
</nav>

<hr/>

<!-- app-routing redirige los contenidos definidos en su archivo .ts-->
<div class="container">
    <!--<app-header></app-header>-->
    <router-outlet></router-outlet>
</div>

