
<h3> Educacion</h3>
<!--tabla de tipo reducido (small)-->
<table class = "table table-sm">
    
    <!-- El bucle recorre cada item de Educación-->
    <!-- Este archivo html está asociado a su respectivo .ts -->
    <!-- edus es una propiedad definida en el .ts edus: Edu[]-->
    <!--cuerpo de tabla table body-->
    <tbody>
        <!--table row(fila)-->
        <tr *ngFor = "let u of edus">
            <!-- {{}} Es interpolación para acceder a los campos -->
            <!--table data(datos en tabla)-->
            <td>{{u.educacion}}</td>
        </tr>
    </tbody>
</table>